* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

/* Sidebar styling */
.sidebar {
    background-color: #00B388;
    color: black;
    width: 15.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    text-align: left;
    padding-left: 40px;
    font-weight: bold;
    
}


.logo {
    font-size: 24px;
    font-weight: bold;
}

.highlight {
    color: white;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    padding-bottom: 260px;
    
}

.nav-list li {
    padding: 10px 0;
    cursor: pointer;
    
}

.nav-list .active {
    width: 100%;
    height: auto;
    background-color: gray;
}

.user-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: #C4C4C4;
    border-radius: 50%;
    margin-right: 10px;
}

.welcome p {
    margin: 0;
    font-size: 14px;

}

/* Main Content styling */
.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header h1 {
    font-size: 23px;
    margin: 0;
    font-weight: bolder;
    text-decoration: underline #00B388;
}
.header input{
    margin-left: 600px;
    width: 300px;
    text-align: left;
    padding-left: 20px;
}

.search {
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 200px;
}

.add-note {
    padding: 5px 15px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* Notes Container and Card Styling */
.notes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 35px;
}

.note-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    height: 165px;
    width: 350px;
}
.note-card h2{
    font-size: larger;
}


.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    color: #777;
    font-size: 12px;
}

.yellow-dot {
    width: 10px;
    height: 10px;
    background-color: #FFC107;
    border-radius: 50%;
}
